.typing-indicator {
    position: absolute;
    top: 0;
    font-size: 10px;
    font-weight: bold;
}

.typing-indicator-dot {
    position: relative;
    left: 4px;
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #606060;
    animation: typingMessage 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.typing-indicator-dot::before, .typing-indicator-dot::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #606060;
    animation: typingMessage 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.typing-indicator-dot::before {
    left: 4px;
    animation-delay: 0.5s;
}
.typing-indicator-dot::after {
    left: 8px;
    animation-delay: 1s;
}

@keyframes typingMessage {
    0% { background-color: #606060; }
    50% { background-color: #fff; }
    60% { background-color: #606060; }
}

