.message-list {
  display: flex;
  height: 400px;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  flex-direction: column-reverse;
  overflow-y: auto;
}
