.chat-room {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  padding: 5rem 20rem;
  animation: fadeChatApp 0.6s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeChatApp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background: #181b21
    url(https://www.toptal.com/designers/subtlepatterns/patterns/nami.png);
  font-family: "Quicksand", sans-serif;
  letter-spacing: -0.23px;
}
