@tailwind base;
@tailwind components;
@tailwind utilities;

/* BOT LIGHTS */
:root {
  --light-width: 50%;
  --light-color-on: hsl(176, 41%, 19%);
  /* --light-color-off: hsl(176, 11%, 59%); */
  background-color: #031016;
}
.body {
  font-variant-numeric: slashed-zero;
}

.botLight {
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(var(--light-width) / 2 * -1); /* hidden start */
  width: var(--light-width);
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--light-color-on) 45%,
    var(--light-color-on) 55%,
    transparent 100%
  );
  animation: KITT 3s infinite ease-in-out alternate;
}

@keyframes KITT {
  0%,
  100% {
    left: calc(var(--light-width) / 2 * -1);
  }
  50% {
    left: calc(100% - var(--light-width) / 2);
  }
}

button:disabled {
  cursor: not-allowed;
}
button:focus {
  outline: none;
}

@layer components {
  .avatar {
    @apply grid h-6 w-6 place-items-center overflow-hidden rounded-full;
  }

  .center {
    @apply grid place-items-center;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 8px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: #031016;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #1d1f24;
  border-radius: 5px;
}
