html, body {
  margin: 0;
  padding: 0;
  background: #181b21 url(https://www.toptal.com/designers/subtlepatterns/patterns/nami.png);
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -0.23px;
}
